.wrapper
  max-width: 1180px
  margin: 0 auto
  
.header
  background-color: #e8f8ff
  margin-bottom: 10px          
  &__block
    display: flex
    align-items: center
    font-weight: bold
    color: #00A5EF
  &__logo
    height: 30px
    margin-right: 20px

.footer
  padding: 10px 0px
  text-align: center
  background-color: #e8f8ff
  color: #00A5EF
  margin-top: 10px
  font-weight: bold
  &__icon
    margin-right: 10px

.chat
  height: 88%
  width: 100%
  display: flex
  flex-direction: column
  &__header
    display: flex
    margin-right: 10px
    border: 3px solid #00A5EF

    justify-content: space-between
    height: 5%
    padding: 10px
    align-items: center
    &-left
      display: flex
    &-right
    &-item
      font-size: 20px
      font-weight: bold
      margin: 0 20px
      color: #00A5EF
.chat__body
  overflow: scroll
  height: 90%
.message
  margin-top: 10px
  width: 40%
  display: flex
  position: relative
  border: 3px solid #00A5EF
  border-radius: 5px
  align-items: center
  position: relative
  &:last-child
    margin-bottom: 10px 
  &_personal
    justify-content: flex-end
    margin-left: auto
    margin-right: 10px
    &>.message__text
      margin-right: 10px
  &__img
    width: 70px
    height: 70px
    margin: 15px
    border-radius: 400px
    object-fit: cover
  &__like
    position: absolute
    height: 20px
    right: 0
    padding: 10px
  &__text
    margin-left: 10px
    margin-right: 45px
    text-align: justify
  &__date
    position: absolute
    bottom: 0
    right: 0
    font-size: 12px
    margin: 2px 10px  
  &__userName
    position: absolute
    top: -28px
    left: 23px
    background-color: #fff
    padding: 3px
    box-sizing: border-box
  &__controller
    &-box
      position: absolute
      height: 30px
      width: 30px
      background-color: white
      border: 3px solid #00A5EF
      box-sizing: border-box
      padding: 3px
      border-radius: 30px
      display: flex
      align-items: center
      &:hover
        background-color: #00A5EF
    &-icon
      height: 15px
      margin-left: 2px
  &__remove
    &-box
      top: -12px
      right: -12px
  &__edit
    &-box
      display: none
      top: -12px
      left: -12px
    &-icon
      margin-left: 1px
      margin-top: -2px
  
.message_personal:hover>.message__edit-box
  display: flex


.chat__form
  height: 10%
  display: flex
  align-items: center
  justify-content: space-evenly
.form_input
  height: 70%
  resize: none;
  width: 90%
  padding: 10px
  box-sizing: border-box
  display: block
  border: 3px solid #00A5EF
  &:focus
    outline: none
.form_button
  margin: 0 auto
  padding: 12px 24px
  background-color: #00A5EF
  color: white
  text-decoration: none
  font-size: 20px
  font-weight: bold
  border-radius: 5px
  border: 0
  cursor: pointer
  &:focus
    outline: none
  
.spinner-wrapper
  position: absolute
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  background-color: #ffe187