body 
  margin: 0
  font-family: sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


code 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace


.root
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100vh